@import url("https://fonts.googleapis.com/css?family=Londrina+Outline");
* {
  margin: 0;
  padding: 0;
}
.body {
  background-color: #93939b;
  width: 95%;
  height: 90vh;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 15%;
  padding-bottom: 20%;
  padding-left: 5%;
}
.box1 {
  animation: heading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
  width: 60vw;
  margin-left: 13%;
  margin-top: 5%;
}

.box2 {
  animation: heading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative;
  width: 60vw;
  margin-left: 13%;
}

.box1 h1 {
  font-family: "Londrina Outline", cursive;
  font-size: 10vw;
  line-height: 6vw;
  color: #ffdedc;
  width: 60vw;
  margin-right: 100%;
  padding-bottom: 20%;
}

.box2 h1 {
  font-family: "Londrina Outline", cursive;
  font-size: 10vw;
  line-height: 6vw;
  color: #f7c6c3;
  width: 60vw;
  margin-right: 100%;
  padding-bottom: 20%;
}

@keyframes heading {
  0% {
    top: -500px;
  }
  100% {
    top: 1%;
  }
}

.box1 h3 {
  color: #f7c6c3;
  font-size: 3vw;
  width: 60vw;
  margin-top: -20%;
}

.box2 h3 {
  color: #ffdedc;
  font-size: 3vw;
  width: 60vw;
  margin-top: -20%;
}

div .container {
  border-top: 4px solid transparent;
}

div h5 {
  color: #ffdedc;
  font-size: 1vw;
  padding-left: 10px;
}

div h5 img {
  width: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  text-align: center;
  line-height: 75vw;
  font-size: 30vw;
  padding-bottom: 2%;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.imgdes {
  background-color: white;
  position: absolute;
  right: 71%;
  top: 0;
  visibility: hidden;
  color: #ffdedc;
  font-family: "Londrina Outline", cursive;
}
.flex-box div:hover .imgdes {
  visibility: visible;
}

#projbtn {
  font-family: sans-serif;
  font-size: 1vw;
  padding: 2%;
  border: 0.5px solid #ffdedc;
  border-radius: 20px;
  color: #ffdedc;
  outline: none;
  cursor: pointer;
}

.imgdes1 {
  position: absolute;
  left: 29%;
  top: 0;
  visibility: hidden;
  color: #ffdedc;
  font-family: "Londrina Outline", cursive;
  padding-top: 3%;
}

.flex-box div:hover .imgdes1 {
  visibility: visible;
}
.imgdes2 {
  position: absolute;
  left: 58%;
  top: 0;
  visibility: hidden;
  color: #ffdedc;
  font-family: "Londrina Outline", cursive;
  padding-top: 3%;
}

.flex-box div:hover .imgdes2 {
  visibility: visible;
}

.imgdes3 {
  position: absolute;
  right: 71%;
  top: 50%;
  visibility: hidden;
  color: #ffdedc;
  font-family: "Londrina Outline", cursive;
  padding-top: 3%;
}

.flex-box div:hover .imgdes3 {
  visibility: visible;
}
.flex-box div {
  background-color: #fff7f7;
  /* background-color: #b9b9bf; */
  width: 25%;
  height: 35vh;
  margin: 2%;
  text-align: center;
  line-height: 5vw;
  font-size: 3vw;
}

.flex-box img {
  width: 50%;
  padding-top: 15%;
}

.icons {
  display: flex;
  flex-wrap: none;
  margin-left: 15%;
}

.icons div {
  text-align: center;
  width: 20%;
  line-height: 1%;
}

.icons img {
  width: 25%;
}

.profile {
  width: 30%;
  border-radius: 50%;
  margin-top: -125%;
  margin-right: 200%;
}

#modheader {
  color: #ffdedc;
  margin: 0;
}

.modimg {
  width: 100%;
}
.modal-body {
  padding: 0;
}

#modal {
  padding: 0;
}

.link {
  color: #ffdedc;
}

.link:hover {
  color: #ffdedc;
  text-decoration: none;
}

/* mobile */

@media screen and (max-width: 640px) {
  .body {
    height: 90vh;
  }

  .box1 {
    margin-top: 50%;
  }

  .box1 h1 {
    font-size: 15vw;
    width: 100vw;
    margin-left: -70px;
    line-height: 25px;
  }

  .box1 h3 {
    font-size: 5vw;
    width: 100vw;
    margin-left: -70px;
  }

  .box2 h1 {
    color: #863a58;
  }

  .icons img {
    width: 50%;
  }
  .flex-box {
    height: 205vh;
    padding: 0;
  }

  .flex-box div {
    width: 100%;
    height: 50vh;
    margin: 0 4px;
  }

  .imgdes {
    right: -1.5%;
    height: 50vh;
  }

  .imgdes p {
    font-size: 15vw;
    margin-top: 25%;
  }

  .imgdes1 {
    left: -1.5%;
    height: 50vh;
    top: 25%;
  }

  .imgdes1 p {
    font-size: 15vw;
    margin-top: 25%;
  }

  .imgdes2 {
    left: -1.5%;
    height: 50vh;
    top: 50%;
  }

  .imgdes2 p {
    font-size: 15vw;
    margin-top: 25%;
  }

  .imgdes3 {
    left: -1.5%;
    height: 50vh;
    top: 75%;
  }

  .imgdes3 p {
    font-size: 15vw;
    margin-top: 25%;
  }

  #projbtn {
    font-size: 5vw;
    padding-left: 20px;
    padding-right: 20px;
  }
}
