* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepagebox {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background.png");
  background-size: cover;
  width: 100%;
  color: white;
  z-index: -10;
  position: fixed;
}

#sidebar ul li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2vw;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  background-color: white;
  width: 45px;
  margin: 7px;
  height: 5px;
  font-size: 30px;
  border-radius: 10px;
}

#sidebar .logo {
  position: fixed;
  margin-left: 1000px;
  margin-top: 1%;
  font-size: 4.5vw;
}

.homepagebox article {
  color: white;
  font-family: "Paytone One", sans-serif;
  width: 50%;
  text-align: left;
  margin-left: 28%;
  font-size: 3.5vw;
  height: 20%;
  padding-top: 20%;
  padding-left: 2%;
}

.resumebackgroundimg {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background.png");
  background-size: cover;
  width: 100%;
  z-index: -10;
  position: fixed;
}

/* .resumebox div {
  margin: 20px 0 0 30px;
  width: 1050px;
  background-color: white;
  display: flex;
} */

.flex-container article {
  color: black;
  width: 300px;
  margin-top: 35%;
  margin-left: -10px;
}

.flex-container article p {
  color: black;
  /* margin: 0 1px 0 1px; */
  font-size: 1vw;
  line-height: 15px;
  width: 400px;
  /* padding: 0 1px 0 1px; */
  text-align: left;
  /* margin-bottom: 15px; */
}

.flex-container article h1 {
  color: black;
  margin-left: -10px;
  font-size: 4vw;
  line-height: 36px;
  margin-bottom: 20px;
  width: 200px;
  margin-top: -20px;
}

.flex-container article h3 {
  color: black;
  /* margin: 0 1px 0 1px; */
  font-size: 2.25vw;
  line-height: 36px;
  width: 500px;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 15px;
  /* padding: 1px 1px 0 1px; */
}

.flex-container article h4 {
  color: black;
  /* margin: 0 1px 0 1px; */
  font-size: 1.1vw;
  line-height: 20px;
  width: 500px;
  text-align: left;
  /* padding: 1px 1px 0 1px; */
}

h1,
h3 {
  font-family: "Permanent Marker", cursive;
  color: white;
}

h4 {
  font-family: "Permanent Marker", cursive;
}

.green {
  color: #c0ceb2;
}

.profile {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid black;
  margin-left: 15%;
  margin-top: 15%;
}
.line {
  padding: 0 0 0 165px;
}

.vline {
  border-left: 2px solid black;
  height: 500px;
  margin-left: 95%;
  margin-top: 25%;
}

/* .vlines {
  border-left: 2px solid black;
  height: 500px;
  margin-left: 500px;
  margin-top: 25%;
} */

.br {
  line-height: -20px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  height: 90vh;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.flex-container > span {
  width: 100px;
  margin: 10px;
  height: 100px;
  text-align: center;
  font-size: 30px;
}
